@use "./_color" as *;

@function set-text-color($color) {
 @if(lightness($color) > 70) {
    @return $dark;
 } @else {
    @return $white;
 }
}


@mixin transform($property) {
    --webkit-transform: $property;
    --ms-transform: $property;
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
}

@mixin flexDirection($sm, $md, $lg) {
  @include sm() {
    display: flex;
      flex-direction: $sm;
  }
  @include md() {
      display: flex;
      flex-direction: $md;
  }
  display: flex;
  flex-direction: $lg;
}


@mixin btn($color) {
  height: 40px;
  min-width: 150px;
  background-color: $color;
  color: set-text-color($color);
  border-radius: 3px;
  @content;
}

@mixin mediaQuery($max-value, $min-value) {
  @media (min-width: $value) {
    @content;
  }
}

@mixin sm() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin md() {
  @media (max-width: 1280px) and (min-width: 768px) {
    @content;
  }
}

@mixin box-shadow() {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.15); 
}