@use '../styles/index.scss' as *;

.footer {
    width: 100%;
    padding: 2rem 7rem;
    display: flex;
    justify-content: space-between;
    @include sm() {
        padding: 2rem 1rem;
    }

    &_social_icons {
        display: flex;
        gap: 1rem;
    }
}


.light {
    color: set-text-color(map-get($gray-variant, '500'));
    background-color: rgba(map-get($gray-variant, '500'), 0.5);
}

.dark {
    color: map-get($map: $gray-variant, $key: "500");
    background-color: rgba(map-get($dark-variant, '900'), 0.5);
}