@use '../styles/color' as *;


.layout {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    min-height: 100vh;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: url('../assets/bg2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.5; /* Set the transparency level here */
      }

    }
  
    .light {
      background-color: map-get($gray-variant, '200');
      color: set-text-color(map-get($gray-variant, '200'));
      width: 100%;
  }
  
  .dark {
      background-color: map-get($dark-variant, '800');
      color: set-text-color(map-get($dark-variant, '800'));
      width: 100%;
  }
  