@use './styles/index.scss' as *;

.light {
    background-color: map-get($gray-variant, '200');
    color: set-text-color(map-get($gray-variant, '200'));
    width: 100%;
}

.dark {
    background-color: map-get($dark-variant, '800');
    color: set-text-color(map-get($dark-variant, '800'));
    width: 100%;
}